<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Orders : View all</title>
<link rel="stylesheet" href="styles/kendo.common.min.css" />
<link rel="stylesheet" href="../../styles/kendo.default.min.css" />
<link rel="stylesheet" href="../../styles/kendo.dataviz.min.css" />
<link rel="stylesheet" href="../../styles/kendo.dataviz.default.min.css" />
<link rel="stylesheet" href="../../styles/bootstrap.min.css" />
</head>
<body>
	<h1>Messages : View all</h1>
	<div class="container" id="app"></div>
	<script src="../../javascript/backbone.js"></script>
	
	<div class="pull-right">
		<a href="form.html" th:href="@{/(form)}">Create Order</a>
	</div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<td>ID</td>
				<td>Currency Pair</td>
				<td>Buy/Sell</td>
				<td>Amount</td>
				<td>Rate</td>
				<td>Value Date</td>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${orders.empty}">
				<td colspan="6">No orders</td>
			</tr>
			<tr th:each="order : ${orders}">
				<td th:text="${order.id}">1</td>
				<td th:text="${order.ccyPair}"></td>
				<td th:text="${order.buySell}"></td>
				<td th:text="${order.amount}"></td>
				<td th:text="${order.rate}"></td>
				<td th:text="${#calendars.format(order.valueDate)}">July 11,
					2012 2:17:16 PM CDT</td>
			</tr>
		</tbody>
	</table>
</body>
</html>